body {
	margin: 0 auto;
	font-size: 16px;
}

nav {
	background-color: #EEE;
	height: 64px;
	line-height: 64px;
}

.container {
	display: flex;
	flex-flow: row wrap; 
}

.c1, .c2, .c3 {
	width: 100%;
	height: 400px;
}

.c1 {
	background-color: red;
}

.c2 {
	background-color: blue;	
}

.c3 {
	background-color: orange;
}

@media (min-width: 500px){
	.c1 {
		width: 30%;
		order: 2;
	}

	.c2 {
		width: 70%;
		order: 1;
	}

	.c3 {
		width: 100%;
		order: 3;
	}
}

@media (min-width: 800px){
	.c1 {
		width: 50%;
	}

	.c2, .c3 {
		width: 25%;
	}
}
