body {
	margin: 0 auto;
	font-size: 16px;
}

.c1 {
	background-color: green;
	position: absolute;
	height: 100vh;
	width: 250px;

	transition: transform .3s ease-out;
	transform: translate(-250px, 0);
	z-index: 2;
}

.c1.open {
	transform: translate(0, 0);
}

.c2 {
	background-color: orange;
	width: 100%;
	height: 100vh;
	position: absolute;
}