body {
	margin: 0 auto;
	font-size: 16px;
}

.container {
	display: flex;
	flex-flow: row wrap;
}

.c1, .c2, .c3, .container-inner {
	width: 100%;
}

.c1 {
	background-color: green;
	height: 64px;
}

.c2 {
	background-color: blue;
	height: 400px;
}

.c3 {
	background-color: orange;
	height: 400px;
}

@media (min-width: 500px){
	.c1 {
		height: 100px;
	}
}

@media (min-width: 800px){
	.container {
		width: 800px;
		margin: 0 auto;
	}

	.c1 {
		width: 30%;
		height: 100vh;
	}

	.container-inner {
		width: 70%;
	}
}
