.content
	margin 64px 0 0 0
	
	&-features
		padding 0
		
	&-block
		border-left 6px solid #dedede
		border-bottom 1px solid #dedede
		padding 1em
		
		&-title
			font-family 'Montserrat'
		
		&:nth-child(1)
			border-left-color green
			
		&:nth-child(2)
			border-left-color red
		
		&:nth-child(3)
			border-left-color blue
			
		&:nth-child(4)
			border-left-color orange
			
		&:hover
			background-color #dedede
			
@media (min-width: 768px)
	.content
		&-features
			display flex
		&-block
			width 25%
