.header
	background-color $black
	color $white
	font-family 'Montserrat'
	height 64px
	left 0
	position fixed
	top 0
	width 100%
	z-index 10
	transition background-color .3s ease
	&-btn
		&-nav
			background-color $black
			border 0
			border-radius 5px
			order 2
	&-menu
		&-navbar
			
			background-color $black
		&-list
			
			height 0
			overflow hidden
			transition height .3s ease
			
			&--show
				height 280px
				
			&-item
				a
					color $white
					display block
					padding 1.5rem
					text-decoration none
	&--light
		background-color $white
		color $black
		
		.header
			&-btn
				&-nav
					background-color $white
			&-menu
			
				&-navbar
					background-color $white
					
				&-list
					background-color $white
					
					&-item
						
						a
							color $black
		
	&-mobile
		align-items center
		display flex
		height inherit
		justify-content space-between
		margin 0 1rem
		
	&-logo
		order 1
		
@media (min-width: 768px)
	.header
		display flex
		flex-direction row
		flex-wrap wrap
		height 80px
		justify-content space-between
		transition all .3s ease
		&-btn
			&-nav
				display none
		&-menu
			&-list
				align-items center
				display flex
				height 80px
				&-item
					display inline-block
		&-mobile
			margin 0 1.5rem