body {
	margin: 0 auto;
	font-size: 16px;
}

.container {
	display: flex;
	flex-flow: row wrap;
}

.c1, .c2, .c3, .c4, .c5 {
	width: 100%;
}

.c1 {
	background-color: red;
	height: 400px;
}

.c2 {
	background-color: blue;
	height: 150px;
}

.c3 {
	background-color: orange;
	height: 150px;
}

.c4 {
	background-color: pink;
	height: 150px;
}

.c5 {
	background-color: green;
	height: 150px;
}

@media (min-width: 500px){
	.c2, .c3, .c4, .c5 {
		width: 50%;
	}
}

@media (min-width: 800px){
	.container {
		width: 800px;
		margin: 0 auto;
	}

	.c1 {
		width: 60%;
	}

	.c2 {
		width: 40%;
		height: 400px;
	}

	.c3, .c4, .c5 {
		width: 33.3%;
	}
}

