body {
	margin: 0 auto;
	font-size: 16px;
}

nav {
	background-color: #EEE;
	height: 64px;
	line-height: 64px;
}

.c1 {
	padding: 1em;
	font-size: 1em;
}

@media (min-width: 600px){
	.c1 {
		padding: 1.5em;
		font-size: 1.5em;
	}
}

@media (min-width: 900px){
	.c1 {
		padding: 2em;
		padding: 2em;
	}
}